<div class="comment">
    <div>
        <b>{{senderName}}</b>
        {{place}}
        {{time}}
    </div>
    <div>
        {{message}}
    </div>
</div>

<style>
    .comment {
        padding-bottom: 15px;
    }
</style>