<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
  <script src="https://vk.com/js/api/openapi.js?142" type="text/javascript"></script>
</head>
<body>
    <div id="friend-selector">
        <div style="display: flex" id="friends">
            <div id="all-friends">
                <input id="allFriendsFilter" type="text" placeholder="Начните вводить имя друга">
                <div><b>Ваши друзья</b></div>
                <div id="all-friends-list"></div>
            </div>
            <div id="selected-friends">
                <input id="selectedFriendsFilter" type="text" placeholder="Начните вводить имя друга">
                <div><b>Друзья в списке</b></div>
                <div id="selected-friends-list"></div>
            </div>
        </div>
        <button data-role="save" id="saveButton">Сохранить</button>
    </div>

</body>
</html>
